
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background: #f6f6f6;
  color: #222;
  }

  main {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}


/****************   Nav Section **********************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(189, 187, 187);
  padding: 12px 18px;
  font-size: 22px;

}

/***********************  Footer Section   **************************/
footer {
	display: flex;
  justify-content: center;
  background-color: rgb(165, 171, 178);
  font-size: 20px;
  padding: 10px;
}


/*********** Splash Page ************************/
header {
 background-color: rgb(212, 209, 209);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 16px;
  
}

header h1 {
  font-family:"Roboto", sans-serif;
  color: rgb(58, 58, 59);
  font-size: 48px;
  margin: 0;
  
}

header img {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,1);
  
}

.address {
 font-family: "Inconsolata", monospace;
 font-size: 20px;
 
}

.tagline {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  
}

/************* Sections ********************/
hr {
  border: none;
  border-top: 10px solid #ccc;
  margin: 16px 0;
}

section h3 {
  color: rgb(32, 32, 32);
  font-family: "Roboto", sans-serif;
  color: rgb(73, 73, 74);
  font-size: 30px;
  
  
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  font-size: 20px;
  
}

section ul {
  font-size: 20px;
}

section a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

section a:hover {
  text-decoration: underline;

}

/**************   Projects   *****************/
.three-col {
	  display: grid;

  justify-content: center;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.card img {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 8px black;
}

.card {
 background-color: white;
  border: 1px solid #ccc;
  border-radius: 14px;
  text-align: center;
  padding: 18px;
  box-shadow: 0 2px 10px rgba(0,0,0,1);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .three-col {
      grid-template-columns: 1fr;
    
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  justify-content: center; 
  padding: 30px ;
}

.one-col form {
  display: flex;
  flex-direction: column;  
  gap: 15px;

  width: 100%;
  max-width: 520px;

  background: white;
  padding: 22px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,1);
   
}

textarea {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;

  min-height: 180px;   
  resize: vertical;    
}